/*===================================================
    Common Style
====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --primary-font: "Inter", sans-serif;
    --body-font: "Inter", sans-serif;
    --primary-color: #df1119;
    --heading-color: #000;
    --body-color: #666;
    --white-color: #ffffff;
    --grey-color: #dddddd;
    --bg-white: #ffffff;
    --bg-dark: #04223e;
    --bg-grey: #f8f5f1;
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
    --transition: all 0.5s cubic-bezier(.165, .85, .45, 1);
}

* {
    box-sizing: border-box;
}

/*Smooth Scroll*/
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

body {
    background-color: #fff;
    font-family: var(--body-font), sans-serif;
    color: var(--body-color);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}


    {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font), sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--heading-color);
}

h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    margin: 0 0 10px;
    color: var(--heading-color);
}

h2 {
    color: var(--heading-color);
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 10px;
    font-weight: 500;
    letter-spacing: -1px;
}

h3,
h4 {
    margin: 0 0 10px;
    font-weight: 500;
    line-height: 1.7;
    color: var(--heading-color);
    letter-spacing: -0.5px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5,
h6 {
    font-size: 14px;
    margin: 0 0 10px;
}

p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

a {
    color: var(--heading-color);
}

a,
a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

img {
    border: none;
    outline: none;
    max-width: 100%;
}

figure {
    padding: 0;
    margin: 0;
}

ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Padding Classes*/
.padding {
    padding: 100px 0;
}

.padding-top {
    padding-top: 100px;
}

.padding-bottom {
    padding-bottom: 100px;
}

.no-padding {
    padding: 0;
}

@media (max-width: 992px) {
    .padding {
        padding: 80px 0;
    }

    .padding-bottom {
        padding-bottom: 80px;
    }

    .padding-top {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .padding {
        padding: 60px 0;
    }

    .padding-bottom {
        padding-bottom: 60px;
    }

    .padding-top {
        padding-top: 60px;
    }
}


@media (max-width: 992px) {
    .sm-padding {
        padding: 15px;
    }
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}


/*Default Background Color*/
.bg-grey {
    background-color: var(--bg-grey);
}

.bg-dark {
    background-color: var(--bg-dark) !important;
}

/*Boder Classes*/
.bd-top {
    border-top: 1px solid #ddd;
}

.bd-bottom {
    border-bottom: 1px solid #ddd;
}

.bd-left {
    border-left: 1px solid #ddd;
}

.bd-right {
    border-right: 1px solid #ddd;
}

/*Margin Class*/
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

/*Transition Effect*/
a,
a:hover,
.form-control,
.form-control:hover,
button {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*Scrollbar Style*/
::-webkit-scrollbar {
    background-color: var(--bg-dark);
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--primary-color);
}

::selection {
    background-color: var(--primary-color);
    color: #fff
}

-webkit-::selection {
    background-color: var(--primary-color);
    color: #fff
}

::-moz-selection {
    background-color: var(--primary-color);
    color: #fff
}

/*Site Preloader*/
#preloader-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loaded #preloader-wrap {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

#preloader-wrap svg {
    width: 100vw;
    height: 110vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    fill: #fff;
}

.preloader-text {
    font-family: var(--primary-font);
    text-align: center;
    user-select: none;
    color: transparent;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ddd;
}

.preloader-text span {
    display: inline-block;
    position: relative;
}

.preloader-text span:before {
    color: var(--bg-dark);
    position: absolute;
    top: 0;
    left: 0;
    animation: text-loading 4s infinite;
    content: attr(data-text);
    opacity: 0;
    line-height: 1;
}

.preloader-text span:nth-child(2):before {
    animation-delay: 0.1s;
}

.preloader-text span:nth-child(3):before {
    animation-delay: 0.2s;
}

.preloader-text span:nth-child(4):before {
    animation-delay: 0.3s;
}

.preloader-text span:nth-child(5):before {
    animation-delay: 0.4s;
}

.preloader-text span:nth-child(6):before {
    animation-delay: 0.5s;
}

.preloader-text span:nth-child(7):before {
    animation-delay: 0.6s;
}

.preloader-text span:nth-child(8):before {
    animation-delay: 0.7s;
}

.preloader-text span:nth-child(9):before {
    animation-delay: 0.8s;
}

.preloader-text span:nth-child(10):before {
    animation-delay: 0.9s;
}

@keyframes text-loading {

    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(90deg);
    }

    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@media (max-width: 767px) {
    .preloader-text {
        font-size: 42px;
    }
}

/*Default Button*/
.btn-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.btn-group-left a {
    margin-right: 10px;
}

/*Default Btn*/
.default-btn {
    background: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    display: inline-flex;
    letter-spacing: -0.2px;
    padding: 15px 30px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.default-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-dark);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    transition: transform 500ms cubic-bezier(0.85, 0, 0.08, 1),
        -webkit-transform 500ms cubic-bezier(0.85, 0, 0.08, 1);
    -webkit-transition-timing-function: cubic-bezier(0.85, 0, 0.08, 1);
    transition-timing-function: cubic-bezier(0.85, 0, 0.08, 1);
    z-index: -1;
}

.default-btn:hover:before {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.default-btn:hover {
    color: #fff;
}

.default-btn i {
    margin-right: 5px;
}

@media (max-width: 600px) {
    .default-btn {
        font-size: 13px;
        line-height: 1;
        padding: 15px 18px;
    }
}


/*Scrool Up*/
#scrollup {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    overflow: hidden;
    z-index: 999;
}

.scroll-to-top {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    padding: 0;
    line-height: 40px;
    border: none;
    border-radius: 0;
    outline: none;
    text-decoration: none;
    transform: translateY(150%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#scrollup.show {
    opacity: 1;
}

#scrollup.show .scroll-to-top {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

/*===================================================
    Header Section
====================================================*/
.main-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--grey-color);
}

.main-header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner .site-logo img {
    width: 180px;
    object-fit: cover;
    object-position: center;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .doc-nav-wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 30px;
        z-index: 1020;
    }
}

/*===================================================
    Sidebar Menu
====================================================*/
.doc-sidebar {
    margin-top: 30px;
}

.doc-nav-wrapper {
    padding-left: 0;
    list-style: none;
}

.doc-nav-wrapper a {
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    position: relative;
    display: block;
    background-size: 0px 1px;
    transition: .3s;
    background-repeat: no-repeat;
    padding: 20px 30px;
    text-decoration: none;
    z-index: 99;
}

.doc-nav-wrapper a:hover {
    color: var(--primary-color);
}

.doc-nav-wrapper a i {
    font-size: 20px;
    color: var(--primary-color);
    margin-right: 5px;
}

.docs-progress-bar {
    background: #efece9;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    max-height: 60px;
}

.nav-item {
    background: var(--bg-grey);
    margin-bottom: 5px;
    border-radius: 2px;
    position: relative;
}

/*===================================================
    Main Wrapper
====================================================*/
.main-doc-inner {
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 50px;
}

@media (max-width: 992px) {
    .main-doc-inner {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

/*List Style*/
.ordered-list {
    position: relative;
    padding: 20px;
    border: 1px solid var(--grey-color);
    border-radius: 2px;
}

.ordered-list li {
    font-size: 16px;
    line-height: 26px;
    margin: 16px 0;
    position: relative;
    padding-left: 40px;
    counter-increment: a;
}

.ordered-list li::before {
    background-color: var(--primary-color);
    color: var(--white-color);
    content: counter(a);
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 0;
    left: 3px;
    border-radius: 0;
    box-shadow: 0px 0px 0px 3px #DF111950;
    border-radius: 50%;
}

.ordered-list li:not(:last-of-type):after {
    background-color: var(--grey-color);
    width: 1px;
    height: 100%;
    content: "";
    position: absolute;
    left: 15px;
    top: 20px;
    z-index: -1;
}

.ordered-list li span {
    color: var(--heading-color);
    font-weight: 700;
}

.ordered-list li a {
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: 600;
}

.ordered-list li span.highlight {
    color: var(--primary-color);
    text-decoration: underline;
}

.ordered-list.source-list li a {
    color: var(--heading-color);
}

/*Documentation Image*/
figure img {
    width: 100%;
    border-radius: 2px;
    padding: 5px;
    border: 1px solid var(--grey-color);
}

/*Documentation Heading*/
.doc-heading h3 {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}

.doc-heading h3:after,
.doc-heading h3:before {
    background: var(--primary-color);
    content: "";
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.doc-heading h3:before {
    width: 15px;
}

.doc-heading h3:after {
    width: 35px;
    left: 20px;
}

.doc-heading p {
    margin: 0;
}

.doc-heading p span,
.doc-heading p a {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: underline;
}

/*Folder Structure*/
.folder-structure {}

.folder-structure .folder-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.folder-structure .folder-list li {
    position: relative;
}

.folder-structure .folder-list li:before {
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40px;
    width: 40px;
    height: 40px;
    content: "";
    position: absolute;
    left: -10px;
    bottom: 40px;
}

.folder-structure .folder-list li img {
    width: 70px;
    margin-bottom: 10px;
}

.folder-structure .folder-list li h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}

/*Note*/
.note {
    background-color: var(--bg-grey);
    border-left: 4px solid var(--primary-color);
    padding: 20px 30px;
    border-radius: 2px;
    margin-top: 30px;
}

.note.alert {
    background-color: var(--primary-color);
    border-left: 4px solid var(--bg-dark);
}

.note.alert h4 span,
.note.alert h4 {
    color: var(--white-color);
}

.note h4 {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}

.note h4 span {
    color: var(--primary-color);
    font-weight: 600;
    margin-right: 5px;
}


/*Support*/
.doc-item.support {
    background-color: var(--bg-grey);
    padding: 40px 20px;
    border-radius: 2px;
}

/*Footer Section*/
.footer-section {
    background-color: var(--bg-dark);
}

.copyright-area {
    background-color: var(--bg-dark);
    color: var(--white-color);
    padding: 25px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.copyright-area a {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: underline;
}
